$gray-900: #0f0809;
$gray-800: #1a1414;
$gray-700: #332a2a;
$gray-500: #4c4040;
$gray-400: #665a5a;
$gray-200: #807474;
$gray-150: #c0b7b7;
$gray-100: #eee9e9; 

$red-900: #1d0404;
$red-800: #410707;
$red-700: #7e0c0c;
$red-500: #d42323;
$red-300: #ee6767;
$red-300: #f8acac;
$red-100: #fccfcf;
